#shops-list .item {
    padding: 0.2em 0;
    padding-left: 24px;
    background-image: url(location-marker.png);
    background-position: center left;
    background-repeat: no-repeat;
}

#shops-list .item a {
    color: #454754;
    text-decoration: underline;
    text-decoration: dotted;
    text-decoration-color: #454754;
    text-decoration-line: underline;
    text-decoration-style: dotted;

}