/* main page */

#main > .grid > .whole.unit {
    position: relative;
}

#main #quick-filter {
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 1000;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}

#main #quick-filter .wrapper {
    padding: 20px;
    padding-top: 15px;
    width: 16em;
    border: 2px solid #DFE2E3;
    border-radius: 10px;
}

/* filter */

#quick-filter h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: 'ProximaNova', Arial, Verdana, sans-serif;
}

#quick-filter .field {
    margin: 1.25em 0;
}

#quick-filter .field h3 {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'ProximaNova', Arial, Verdana, sans-serif;
}

/* chosen for select */

#quick-filter #quick-filter-property-111 .chosen-container {
    font-size: 1.1rem;
}

#quick-filter #quick-filter-property-111 .chosen-container a.chosen-single {
    height: 2.5em;
    border-radius: 3px;
    background: no-repeat;
    font-size: 1.1rem;
}

#quick-filter #quick-filter-property-111 .chosen-container a.chosen-single span {
    padding: 0.5em;
}

#quick-filter #quick-filter-property-111 .chosen-container .chosen-single div {
    width: 2em;
    border-left: 1px solid #aaa;
}

#quick-filter #quick-filter-property-111 .chosen-container-active .chosen-single div {
    border-left: 1px solid white;
}

#quick-filter #quick-filter-property-111 .chosen-container-single a.chosen-single div b {
    background: url(dropdown.png);
    background-position: center;
    background-repeat: no-repeat;
}

/* submit */

#quick-filter .actions {
    padding-top: 0.5em;
    text-align: center;
}

#quick-filter .actions button {
    padding: 0.5em 2em;
    border-radius: 50px;
    font-size: 1.2rem;
}

/* checkboxes */

#quick-filter .checkboxes .item {
    margin: 1em 0;
}

#quick-filter .checkboxes .item input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

#quick-filter .checkboxes .item input[type="checkbox"] + label {
    cursor: pointer;
}

#quick-filter .checkboxes .item input[type="checkbox"]:not(checked) {
    position: absolute;
    padding: 0;
    opacity: 0;
}

#quick-filter .checkboxes .item input[type="checkbox"]:not(checked) + label {
    position: relative;
    top: 0.25em;
    padding-left: 2.25em;
}

#quick-filter .checkboxes .item input[type="checkbox"]:not(checked) + label:before {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #DFE2E3;
    border-radius: 3px;
    background: white;
    background-image: url(v-white.png);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    transition: background 0.5s ease, border 0.5s ease;
}

#quick-filter .checkboxes .item input[type="checkbox"]:not(checked) + label:before:hover {
    box-shadow: 0 0 5px white;
}

#quick-filter .checkboxes .item input[type="checkbox"]:checked + label:before {
    border: 1px solid #FD4C3C;
    background: #FD4C3C;
    background-image: url(v-white.png);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    vertical-align: middle;
    text-align: center;
}

@media all and (max-width: 568px) {

    #main #quick-filter {
        position: static;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0;
        border-radius: 0;
    }

    #main #quick-filter .wrapper {
        width: auto;
        border-radius: 0;
    }

}