#footer-search form .wrapper {
    position: relative;
}

#footer-search form .wrapper input[name='q'] {
    margin: auto;
    width: 90%;
    font-size: 1.2rem;
}

#footer-search form .wrapper input[name='s'] {
    position: absolute;
    right: -0.5em;
    bottom: 0.8em;
    z-index: 1;
    overflow: hidden;
    width: 1.5em;
    border: none;
    background: none;
    background-image: url("search.png");
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -99em;
}