#front-page #brands-list {
    border-radius: 0;
}

#brands-list {
    position: relative;
    z-index: 200;
    margin: 0 20px;
    border: 1px solid #c62e1e;
    border-radius: 0 0 20px 20px;
}

#brands-list ul.menu {
    padding: 0.5em 0.25em;
    padding-top: 0.45em;
    text-align: center;
}

#brands-list ul.menu li {
    display: inline-block;
    padding: 0 0.5em;
}

#brands-list ul.menu li a {
    color: #454754;
    text-decoration: underline;
    text-decoration-color: inherit;
}

#brands-list ul.menu li a:hover {
    color: #e74c3c;
    text-decoration-color: #e74c3c;
}

#brands-list ul.menu li#all-brands {
    position: relative;
    margin-left: 1em;
    padding: 0;
}

#brands-list ul.menu li#all-brands a#all-brands-trigger {
    position: relative;
    z-index: 110;
    display: inline-block;
    padding: 0.25em 0.5em;
    padding-right: 0.5em;
    border-radius: 4px;
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
}

#brands-list ul.menu li#all-brands a:after {
    display: inline-block;
    margin-left: 0.5em;
    width: 10px;
    height: 7px;
    background-image: url(dropdown-controls.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    content: '';
}

#brands-list ul.menu li#all-brands a.collapsed:after {
    background-position: top center;
}

#brands-list ul.menu li#all-brands > ul {
    position: absolute;
    top: -4px;
    left: -4px;
    z-index: 100;
    display: none;
    padding: 3px;
    padding-top: 2.5em;
    width: 100%;
    border: 1px solid #e74c3c;
    border-radius: 6px;
    background-color: white;

}

#brands-list ul.menu li#all-brands > ul li {
    display: block;
    padding: 0.25em 4px;
    text-align: left;
}

#brands-list ul.menu li#all-brands > ul li a {
    background: none;
}

#brands-list #mobile-select {
    padding: 0.5em;
}

#brands-list select {
    margin: auto;
}