#top-menu {
    display: inline;
}

#top-menu ul.menu {
    text-align: center;
}

#top-menu ul.menu li {
    display: inline-block;
    padding: 0.5em 0.3em;
    padding-bottom: 0.4em;
}

#top-menu ul.menu li a {
    color: #474747;
    text-decoration: none;
    font-family: 'Iskra', Arial, Verdana, sans-serif;
    transition: color 0.5s ease;
}

#top-menu ul.menu li a:hover {
    background-color: #eee;
    color: #e74c3c;
}

@media all and (max-width: 568px) {

}
