@font-face {
    font-family: "Flaticon";
    src: url("alsrubl-webfont.eot");
    src: url("alsrubl-webfont.eot#iefix") format("embedded-opentype"),
    url("alsrubl-webfont.woff") format("woff"),
    url("alsrubl-webfont.ttf") format("truetype"),
    url("alsrubl-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 20px;
    font-style: normal;
    font-size: 20px;
    font-family: Flaticon;
}

.flaticon-a:before {
    content: "\61";
}

.flaticon-b:before {
    content: "\62";
}

.flaticon-c:before {
    content: "\63";
}

.flaticon-d:before {
    content: "\64";
}

.flaticon-e:before {
    content: "\65";
}

.flaticon-f:before {
    content: "\66";
}

.flaticon-g:before {
    content: "\67";
}

.flaticon-h:before {
    content: "\68";
}

.flaticon-i:before {
    content: "\69";
}

.flaticon-j:before {
    content: "\6a";
}

.flaticon-k:before {
    content: "\6b";
}

.flaticon-l:before {
    content: "\6c";
}

.flaticon-m:before {
    content: "\6d";
}

.flaticon-n:before {
    content: "\6e";
}

.flaticon-o:before {
    content: "\6f";
}

.flaticon-p:before {
    content: "\70";
}

.flaticon-q:before {
    content: "\71";
}

.flaticon-r:before {
    content: "\72";
}

.flaticon-s:before {
    content: "\73";
}

.flaticon-t:before {
    content: "\74";
}

.flaticon-u:before {
    content: "\75";
}

.flaticon-v:before {
    content: "\76";
}

.flaticon-w:before {
    content: "\77";
}

.flaticon-uniE000:before {
    content: "\e000";
}
