@font-face {
    font-family: "Rouble";
    src: url("../fonts/alsrubl-webfont.eot");
    src: url("../fonts/alsrubl-webfont.eot#iefix") format("embedded-opentype"),
    url("../fonts/alsrubl-webfont.woff") format("woff"),
    url("../fonts/alsrubl-webfont.ttf") format("truetype"),
    url("../fonts/alsrubl-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/proximanova-reg.eot");
    src: url("../fonts/proximanova-reg.eot#iefix") format("embedded-opentype"),
    url("../fonts/proximanova-reg.woff") format("woff"),
    url("../fonts/proximanova-reg.ttf") format("truetype"),
    url("../fonts/proximanova-reg.svg#ProximaNova-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../fonts/proximanova-bold.eot");
    src: url("../fonts/proximanova-bold.eot#iefix") format("embedded-opentype"),
    url("../fonts/proximanova-bold.woff") format("woff"),
    url("../fonts/proximanova-bold.ttf") format("truetype"),
    url("../fonts/proximanova-bold.svg#ProximaNova-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Iskra";
    src: url("../fonts/iskracyr-regular.eot");
    src: url("../fonts/iskracyr-regular.eot#iefix") format("embedded-opentype"),
    url("../fonts/iskracyr-regular.woff") format("woff"),
    url("../fonts/iskracyr-regular.ttf") format("truetype"),
    url("../fonts/iskracyr-regular.svg#IskraCYR-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Iskra-Bold";
    src: url("../fonts/iskracyr-bold.eot");
    src: url("../fonts/iskracyr-bold.eot#iefix") format("embedded-opentype"),
    url("../fonts/iskracyr-bold.woff") format("woff"),
    url("../fonts/iskracyr-bold.ttf") format("truetype"),
    url("../fonts/iskracyr-bold.svg#IskraCYR-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}