.page-payment {
    background:url('payment-bg.png') 100% 0 no-repeat;
    padding-bottom: 190px;
}
.page-payment h3 {
    font: normal 18px ProximaNova;
}
.page-payment ul {
    list-style-type: disc;
    -webkit-padding-start: 40px;
}
.page-payment li {
    font: normal 14px/24px ProximaNova;
}
.page-payment p {
    max-width: 50%;
    font: normal 14px/20px ProximaNova;
}