table.form-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    font-weight: normal;
    font-size: 100%;
    line-height: 160%;
}

table.form-table th, table.form-table td {
    padding: 5px 5px;
    border: 1px solid #ADC3D5;
    vertical-align: top;
}

table.form-table th {
    background-image: url(images/table_head.gif);
    background-repeat: repeat-x;
    color: #25639A;
    text-align: left;
}

table.form-table td {
    padding: 15px 5px;
}

table.form-filter-table {
    border-collapse: collapse;
    background-color: white;
    font-size: 100%;
}

table.form-filter-table th {
    background-image: url(images/table_head.gif);
    background-repeat: repeat-x;
    color: #25639A;
    text-align: center;
    font-size: 100%;
}

table.form-filter-table td, table.form-filter-table th {
    padding: 3px;
    border: 1px solid #ADC3D5;
}

table.form-filter-table td {
    vertical-align: top;
}

.form-filter-none {
    display: none;
}

.form-filter-inline {
    display: inline;
}

table.form-table table.form-results-header-inline td, table.form-table table.form-results-header-inline th {
    padding: 0px !important;
    border: 0px !important;
    background: none !important;
}

.form-anstext {
    color: #166122;
}

.form-ansvalue {
    color: #FF0000;
}

.form-filteron {
    color: #FF0000;
}

.form-filteroff {
    color: #1C7729;
}