#catalog-navigation ul.property {
    display: table;
    width: 100%;
}

#catalog-navigation ul.property li {
    display: table-cell;
    text-align: center;
}

#catalog-navigation ul.property li a {
    display: block;
}

#catalog-navigation ul#property-age-group li {
    border-right: 1px solid #C74134;
    border-bottom: 1px solid #C62E1E;
    border-left: 1px solid #DB7F75;
    background: linear-gradient(#FE4C3C, #E74C3C);
}

#catalog-navigation ul#property-age-group li:hover {
    background: linear-gradient(#FF1D09, #D62C1A);
}

#catalog-navigation .wrapper.age-group {
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

#catalog-navigation ul#property-age-group li a {
    padding: 0.5em;
    padding-bottom: 0.45em;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

#catalog-navigation .brand.wrapper {
    border: 1px solid #C62E1E;
    border-radius: 0 0 15px 15px;
}

#catalog-navigation ul#property-brand a {
    padding: 0.5em;
    color: #454754;
    text-decoration: underline;
}

#catalog-navigation-wrap {
    position: relative;
    z-index: 1;
}