#contacts-page {
    font: normal 16px ProximaNova;
}

#contacts-page h2,
#contacts-page h3 {
    font: normal 24px ProximaNova;
}

#contacts-page .left-block {
    font: normal 14px/24px ProximaNova;
    width:70%;
}
#contacts-page .left-block .address-row {
    width:100%;
    display:inline-block;
    margin-bottom:40px;
}
#contacts-page .left-block .address-row .address {
    width:50%; float:left;
}
#contacts-page .left-block .address-row .work-hours {
    font: normal 16px ProximaNova;
    width:50%; float:right;
}
#contacts-page .left-block .address-row .address a {
    position: relative;
    margin-left: 23px;
    display: inline-block;
    color: #454754;
    text-decoration: none;
    border-bottom: 1px dotted #454754;
    font-size: 16px;
}
#contacts-page .left-block .address-row .address a:before {
    content: '';
    width: 14px;
    height: 21px;
    display: block;
    position: absolute;
    left: -23px;
    top: 0;
    margin-right: 5px;
    background: url(/contact/icons.png) 0 -65px no-repeat;
}
#contacts-page .left-block .address-row .address a:hover {
    color: #e74c3c;
    border-bottom: 1px dotted #e74c3c;
}
#contacts-page .left-block .address-row .address span.address-details {
    display: block;
    font-size: 12px;
}


#contacts-page .right-block {
    width:30%;
}
#contacts-page .right-block .contact-phone {
    text-align:center;
    width: 310px;
    border: 1px solid #dfe2e3;
    border-radius: 10px;
    box-shadow: 2px 2px 0px #dfe2e3;
    padding: 30px 40px;
    box-sizing: border-box;
}
#contacts-page .right-block .contact-phone .value {
    font: normal 30px ProximaNova;
    margin:20px 0;
}