.catalog.element #element-title,
.catalog.element #element-brand {
    padding:0;
    margin:0;
}

.catalog.element #element-title {

}

.catalog.element #element-brand a {
    text-decoration:underline;
}
.catalog.element #element-brand a:hover {
    color:#e74c3c;
}

@media all and (max-width: 720px) {

    .catalog.element #element .one-third.unit {
        margin-bottom: 1em;
        padding-right: 0;
        width: 100%;
    }

    .catalog.element #element .two-thirds.unit {
        padding-left: 0;
        width: 100%;
    }

}

.catalog.element #main-image.wrapper {
    padding: 5px;
    border: 1px solid #DFE2E3;
    border-radius: 15px;
    height:300px;
    width:300px;
}

.catalog.element #main-image.wrapper a.colorbox {
    cursor: zoom-in;
}

.catalog.element #main-image.wrapper a img {
    display: block;
    margin: auto;
    max-height:100%;
}

.catalog.element .brand {
    margin-bottom: 1em;
    font-weight: normal;
    font-size: 1.4rem;
}

.catalog.element .brand a {
    color: #BFBFBF;
}

.catalog.element #properties {
    margin: 2em 0 0 0;
}

.catalog.element #properties #test-results .star {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: top center;
    background-repeat: no-repeat;
}

.catalog.element #properties #test-results .star.marked {
    background-position: bottom center;
}

.catalog.element #element-description {
    position: relative;
    padding: 0 1em;
}

.catalog.element #element-description .gift-marker {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    width: 5em;
    height: 5em;
    background-image: url(gift-icon.png);
    background-position: right center;
    background-repeat: no-repeat;
}

.catalog.element #element-description .gift-marker a {
    display: block;
    width: 100%;
    height: 100%;
}

.catalog.element #properties .item .name,
.catalog.element #properties .item .value {
    padding-bottom: 0.2em;
}

.catalog.element #properties .item .name:after {
    content: ':';
}

.catalog.element #properties .item .value {
    font-weight: bold;
}

.catalog.element #properties .item .value .inline {
    display: inline;
}

.catalog.element #properties .item .value ul.list li {
    display: inline;
}

.catalog.element #colors > .grid {
    margin: 0 -10px;
}

.catalog.element #colors .offer {
    float: left;
    padding: 0;
    transition: border 0.5s ease;
}

.catalog.element #colors .offer .wrapper {
    position: relative;
    margin: 0.5em;
    border: 2px solid #DFE2E3;
    border-radius: 10px;
    transition: border 0.5s ease, box-shadow 0.5s ease;
}

.catalog.element #colors .item {
    cursor: pointer;
}

.catalog.element #colors .item .wrapper {
    position: relative;
    overflow: hidden;
    min-height: 18em;
    border: 1px solid #DFE2E3;
    border-radius: 15px;
    transition: border 0.5s ease, box-shadow 0.5s ease;
}

.catalog.element #colors .item.selected .wrapper,
.catalog.element #colors .item:hover .wrapper {
    border: 1px solid #E74C3C;
}

.catalog.element #colors .item:hover .wrapper {
    position: relative;
    box-shadow: 0 2px 10px #E74C3C;
}

.catalog.element #colors .item .status p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
}

#purchase .status .absent,
#purchase .status .present {
    text-transform: uppercase;
}
#purchase .status .one-click-buy,
#purchase .add.button {
    text-transform: none;
}
#purchase .status .one-click-buy {
    font: normal 16px/16px ProximaNova;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none !important;
    border-bottom: 1px solid #f9dad8;
    outline: 0 !important;
    color: #e74c3c;
}
#purchase .status .one-click-buy:hover {
    color: #a82315 !important;
    border-bottom: 1px solid #d62c1a;
}


@media all and (max-width: 568px) {

    .catalog.element #colors .offer {
        width: 50% !important;
    }

    .catalog.element #colors .offer .wrapper {
        margin: 1em 0.5em;
    }

}

@media all and (min-width: 568px) {

    .catalog.element #colors .offer {
        width: 33%;
    }

}

@media all and (min-width: 720px) {

    .catalog.element #colors .offer {
        width: 25%;
    }

}

@media all and (min-width: 960px) {

    .catalog.element #colors .offer {
        width: 20%;
    }

}

.catalog.element #colors .item .header {
    padding: 0.5em;
    padding-top: 0.65em;
    padding-bottom: 0.85em;
    background-color: #EFF0F1;
    transition: background 0.5s ease;
}

.catalog.element #colors .item .header h3 {
    margin: 0;
    font-size: 1.1rem;
    transition: color 0.5s ease;
}

.catalog.element #colors .item.selected .header {
    background-color: #E74C3C;
}

.catalog.element #colors .item.selected .header h3 {
    color: white;
}

.catalog.element #colors .item .image {
    padding: 1em;
    padding-bottom: 0;
}

.catalog.element #colors .item .image img {
    display: block;
    margin: auto;
}

.catalog.element #colors .item .footer {
    position: absolute;
    bottom: 0;
    padding: 0.5em 0;
    padding-top: 0.65em;
    width: 100%;
    border-top: 1px solid #DFE2E3;
    background-color: white;
}

.catalog.element #colors .item .footer > p {
    margin: 0;
    font-size: 1rem;
}

.catalog.element #colors .item .footer > p.price {
    font-weight: bold;
    font-size: 1.2rem;
}

.catalog.element #colors .item .footer > p.price:after {
    content: 'a';
    font-family: Rouble;
}

.catalog.element #colors .item a.link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
    width: 100%;
    height: 100%;
}

.catalog.element #colors .item .footer .present {
    color: #E74C3C;
    text-transform: uppercase;
    font-size: 0.8rem
}

.catalog.element #colors .item .footer .present:before {
    display: inline-block;
    padding-right: 0.5em;
    width: 0.5em;
    height: 0.5em;
    background-image: url(check-orange-small.png);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

.catalog.element #colors .item .footer .absent {
    color: #bfbfbf;
}

.catalog.element #colors .item .footer .absent:before {
    display: none;
}

.catalog.element #images .slider {
    margin: 0 32px;
}

.catalog.element #images .item {
    margin: 0 10px;
}

.catalog.element #images .item .wrapper {
    overflow: hidden;
    padding: 10px;
    padding-bottom: 0;
    border: 1px solid #DFE2E3;
    border-radius: 15px;
    transition: border 0.5s ease;
}

.catalog.element #images .item:hover .wrapper {
    border: 1px solid #E74C3C;
}

.catalog.element #images .item .wrapper a {
    display: block;
    min-height: 120px;
    text-align: center;
}

.catalog.element #images .item .wrapper img {
    display: block;
    margin: auto;
    cursor: zoom-in;
}

.catalog.element #images .slick-prev,
.catalog.element #images .slick-next {
    position: absolute;
    top: 50%;
    overflow: hidden;
    margin-top: -48px;
    width: 48px;
    height: 96px;
    border: none;
    background: none transparent;
    background-image: url(slider-controls.png);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -99em;
}

.catalog.element #images .slick-prev {
    left: -48px;
    background-position: left center;
}

.catalog.element #images .slick-next {
    right: -48px;
    background-position: right center;
}

.catalog.element #video {
    padding-bottom: 1em;
    padding-left: 2em;
    max-width: 50%;
}

.catalog.element #video .title {
    margin-top: 0.5em;
}

.catalog.element #video .item .wrapper {
    margin: 2em 0;
}

.catalog.element #video .item .wrapper a {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 1.5em;
}

.catalog.element #video .item .wrapper a:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: -24px;
    margin-left: -24px;
    width: 48px;
    height: 48px;
    background-image: url(icon-youtube-video.png);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.catalog.element #video .item:hover .wrapper a:before {
    opacity: 1;
}

.catalog.element #video .item .wrapper a img {
    display: block;
}

#colorbox.video #cboxLoadedContent {
    margin: 0;
}

/* блок покупки */

.catalog.element #buy {
    position: relative;
    overflow: hidden;
    float:right;
}

.catalog.element #buy .wrapper {
    position: relative;
    overflow: hidden;
    margin-left: 1em;
    padding: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid #DFE2E3;
    border-radius: 15px;
}

.catalog.element #buy .price {
    margin: 0.5em auto;
    font-weight: normal;
    font-weight: bold;
    font-size: 2.4rem;
}

.not-available .present,
.available .absent {
    display: none;
}

.catalog.element #buy .one-click-buy {
    font-size: 1.1rem;
}

.catalog.element #buy .present {
    color: #E74C3C;
}

.catalog.element #buy .absent {
    color: #bfbfbf;
}

.catalog.element #buy .absent:before {
    display: none;
}

.catalog.element #buy .price .value:after {
    content: 'a';
    font-family: Rouble;
}

.catalog.element #buy .wrapper a.button {
    display: block;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.1rem;
}

.catalog.element #buy .wrapper a.button:before {
    display: inline-block;
    padding-right: 0.5em;
    width: 1em;
    height: 1em;
    background-image: url(cart-icon-white.png);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

.catalog.element #buy #additional-options {
    color: #bfbfbf;
    font-size: 0.85rem;
    text-decoration-color: #bfbfbf;
}

.catalog.element #buy #additional-options.status.not-availiable #delivery-info-btn,
.catalog.element #buy #additional-options.status.availiable #delivery-delayed-info-btn {
    display: none;
}

.catalog.element #buy .wrapper a.one-click-buy {
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

/*
доставка сегодня
нашли дешевле?
*/

.catalog.element #delivery-info,
.catalog.element #found-cheaper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
#additional-options a {
    color: #454754;
    text-decoration: none;
    border-bottom: 1px dotted #454754;
    line-height: 18px;
    font-size: 14px;
}

.catalog.element #found-cheaper {
    font-size: 0.9rem;
}

.catalog.element #delivery-info .frame,
.catalog.element #found-cheaper .frame {
    padding: 1em;
}

.catalog.element #found-cheaper .frame {
    padding-top: 0;
}

.catalog.element #found-cheaper form .form-item {
    margin-bottom: 0.5em;
}

.catalog.element #found-cheaper form .form-item input {
    padding: 0.3em 0.5em;
    font-size: 0.9rem;
}

.catalog.element #delivery-info .close,
.catalog.element #found-cheaper .close {
    position: absolute;
    right: 0;
    bottom: 1em;
    left: 0;
    margin: auto;
    font-size: 0.8rem;
}

/* описание */

.catalog.element #product-description ul {
    margin: 0.5em 0;
    margin-left: 0.5em;
}

#product-description ul li {
    margin: 0.25em 0;
    margin-left: 0.5em;
    list-style: disc;
}

/* рейтинг */

#test-results .value {
    position: relative;
}

#rating {
    width: 100px;
    height: 15px;
    position: absolute;
    right: 0;
}

#rating .background-red {
    background-color: red;
    height: 10px;
}

#rating .stars {
    background-image: url("stars.png");
    height: 16px;
    margin-top: -13px;
    width: 100px
}

