.catalog .smart-filter {
    padding: 0.75em 1.25em;
    border-radius: 15px;
    background-color: #f5f5f5;
}

.catalog .smart-filter h2 {
    font-size: 1.4rem;
}

.catalog .smart-filter h3 {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'ProximaNova', Arial, Verdana, sans-serif;
}

@media all and (max-width: 680px) {

    .catalog .smart-filter h3 {
        font-size: 1rem;
    }

}

.catalog .smart-filter #price-base {
    margin-bottom: 1em;
}

/*
.catalog .smart-filter #price-base .irs .irs-from:after,
.catalog .smart-filter #price-base .irs .irs-to:after {
    content: 'a';
    font-family: Rouble;
}
*/

.catalog .smart-filter .item {
    display: block;
    width: 100%;
}

.catalog .smart-filter .checkboxes .item {
    position: relative;
    margin: 0.25em 0;
}

.catalog .smart-filter .checkbox {
    width: 1em;
    height: 1em;
}

.catalog .smart-filter .checkbox + label {
    cursor: pointer;
}

.catalog .smart-filter .checkbox:not(checked) {
    position: absolute;
    padding: 0;
    opacity: 0;
}

.catalog .smart-filter .checkbox:not(checked) + label {
    display: block;
    padding: 0;
    padding-left: 2em;
}

.catalog .smart-filter .checkbox:not(checked) + label:before {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid #DFE2E3;
    border-radius: 3px;
    background: white;
    background-image: url(v-white.png);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    transition: background 0.5s ease, border 0.5s ease;
}

.catalog .smart-filter .checkbox:checked + label:before {
    border: 1px solid #FD4C3C;
    background: #FD4C3C;
    background-image: url(v-white.png);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    vertical-align: middle;
    text-align: center;
}

.catalog .smart-filter .actions {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.catalog .smart-filter .actions input[type="submit"] {
    display: block;
    margin: 0.5em 0;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
}

/* property-brand */

.catalog .smart-filter #property-brand ul.checkboxes {
    overflow: hidden;
    max-height: 12em;
    border-radius: 0.5em;
    background-color: white;
}

.catalog .smart-filter #property-brand ul.checkboxes li {
    margin: 0;
}

.catalog .smart-filter #property-brand ul.checkboxes li:hover {
    background-color: #F5F5F5;
}

.catalog .smart-filter #property-brand ul.checkboxes label {
    padding: 0.5em 0.65em;
}

.catalog .smart-filter #property-brand ul.checkboxes .checkbox:checked + label {
    background-color: #FD4C3C;
    color: white;
}

.catalog .smart-filter #property-brand ul.checkboxes label:before {
    display: none;
}

.nicescroll-rails {
    margin-left: 1px;
}

/*.nicescroll-rails {*/
    /*background-color: rgb(229, 230, 231) !important;*/
/*}*/

/*.nicescroll-rails .nicescroll-cursors {*/
    /*border: 1px solid rgb(179, 181, 182) !important;*/
    /*background-color: rgb(179, 181, 182) !important;*/
/*}*/
