.catalog.section #section-name {
    margin: 0;
}

.catalog.section.grid {
    margin: 0 -10px;
}

.catalog.section #section-name {
    margin-bottom: 0.5em;
}

.catalog.section #section-name .subtitle {
    color: #999b9c;
    font-weight: normal;
    font-size: 1.2rem;
}

.catalog.section #catalog-sort {
    margin-top: 0.5em;
}

.catalog.section article.item {
    position: relative;
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
    transition: border 0.5s ease;
}

.catalog.section article.item .wrapper {
    position: relative;
    margin: 5px 10px;
    padding-bottom: 8em;
    height: 16em;
    border: 2px solid #DFE2E3;
    border-radius: 10px;
    transition: border 0.5s ease, box-shadow 0.5s ease;
}

@media all and (max-width: 568px) {

    .catalog.section article.item {
        width: 100%;
    }

    .catalog.section article.item .wrapper {
        margin: 1em 0;
    }

    .catalog.section h1 {
        margin-top: 1em;
    }

}

@media all and (min-width: 568px) {

    .catalog.section article.item {
        width: 50%;
    }

}

@media all and (min-width: 840px) {

    .catalog.section article.item {
        width: 33%;
    }

}

.catalog.section .item:hover .wrapper {
    box-shadow: 3px 3px 10px #DFE2E3;
}

.catalog.section .item:hover .wrapper {
    overflow: hidden;
    border: 2px solid #494c58;
}

.catalog.section .item .header {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 100;
}

.catalog.section .item .header .name {
    margin-top: 0;
    margin-bottom: 0.5em;
    width: 10em;
    font-weight: normal;
    font-size: 1.2rem;
    font-family: 'ProximaNova', Arial, Verdana, sans-serif;
}

.catalog.section .item .wrapper .gift-marker + .header .name {
    width: 8em;
}

.catalog.section .item .brand {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 0.85rem;
    font-family: 'ProximaNova', Arial, Verdana, sans-serif;
}

.catalog.section .item .brand a {
    color: #7A8498;
}

.catalog.section .item .name a {
    color: #474747;
}

.catalog.section .item .image.grid {
    position: absolute;
    bottom: 9em;
    width: 100%;
}

.catalog.section .item .image img,
.catalog.section .item .image a > img {
    display: block;
    margin: auto;
}

.catalog.section .item .slider {
    margin-top: 4em;
}

.catalog.section .item .slider .slide.hidden-before-load {
    display: none;
}

.catalog.section .item:hover .slider .slick-arrow {
    z-index: 10;
    opacity: 1;
}

.catalog.section .item .slider .slick-arrow {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -24px;
    width: 20px;
    height: 48px;
    background-image: url(img/item-slider-controls.png);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.catalog.section .item:hover .slider .slick-arrow.slick-disabled {
    opacity: 0.2;
    cursor: default;
}

.catalog.section .item .slider .slick-prev {
    left: 20px;
    background-position: left center;
}

.catalog.section .item .slider .slick-next {
    right: 20px;
    background-position: right center;
}

.catalog.section .item .slider .slide {
    margin: 0 32px;
    text-align: center;
}

.catalog.section .item .image .slide a,
.catalog.section .item .slider .slide a {
    display: table;
    margin: auto;
    height: 9em;
}

.catalog.section .item .slider .slide img,
.catalog.section .item .slider .slide a > img {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}

.catalog.section .item .buy .button {
    padding: 0.4em 0.65em;
    padding-bottom: 0.25em;
    font-size: 0.75rem;
}

.catalog.section .item ul.properties.list {
    position: absolute;
    bottom: 7em;
    display: table;
    width: 100%;
    height: 4em;
    border-top: 1px solid #DFE2E3;
    border-bottom: 1px solid #DFE2E3;
    background-color: white;
    font-size: 0.8rem;
}

.catalog.section .item ul.properties.list li {
    display: table-cell;
    padding: 0.25em 0.5em;
    width: 33%;
    border-right: 1px solid #DFE2E3;
    vertical-align: middle;
    text-align: center;
    line-height: 1.2;
}

.catalog.section .item ul.properties.list li .property-label {
    color: gray;
    font-weight: normal;
}

.catalog.section .item ul.properties.list li.tier {
    border-right: none;
}

.catalog.section .item ul.properties.list li .name {
    display: block;
    color: #474747;
}

.catalog.section .item ul.properties.list li .value {
    display: block;
    color: #474747;
    font-weight: bold;
}

.catalog.section .item ul.properties.list li .value strong:after {
    content: ', ';
}

.catalog.section .item ul.properties.list li .value strong.last:after {
    content: '';
}

.catalog.section .item ul.properties.list li.tier ul li {
    display: inline;
    line-height: 0.75;
}

.catalog.section .item .colors {
    position: absolute;
    bottom: 4em;
    padding: 0.5em 1em;
    width: 100%;
}

.catalog.section .item .colors a {
    font-size: 0.85rem;
}

.catalog.section .item .colors a.show-colors,
.catalog.section .item .colors a.hide-colors {
    position: absolute;
    left: 1em;
}

.catalog.section .item .colors a.one-click-buy {
    position: absolute;
    right: 1em;
    color: #e74c3c;
    text-decoration-color: #e74c3c;
}

.catalog.section .item.available a.not-available,
.catalog.section .item.not-available a.available {
    display: none;
}

.catalog.section .item .colors .colors-list {
    position: absolute;
    top: 3em;
}

.catalog.section .item .colors p {
    margin-top: 0;
}

.catalog.section .item .colors .color {
    display: inline-block;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
}

.catalog.section .item .grid.buy {
    position: absolute;
    bottom: 0;
    left: 0;
    display: table;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.85em;
    width: 100%;
}

.catalog.section .item .grid.buy > .unit {
    display: table-cell;
    float: none;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.catalog.section .item .grid.buy .price {
    margin: 0.2em 0;
    letter-spacing: -0.025em;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1;
}

.catalog.section .item .grid.buy .price .value:after {
    content: 'a';
    font-family: Rouble;
}

.catalog.section .item .grid.buy .price .value.old {
    color: #707070;
    text-decoration: line-through;
    font-weight: normal;
    font-size: 0.85rem;
}

/* discount */

.catalog.section .item.discount .wrapper {
    position: relative;
    overflow: hidden;
    overflow: hidden;
    border-color: #E74C3C;
}

.catalog.section .item.discount:hover .wrapper {
    box-shadow: 3px 3px 10px #f8b3ab;
}

.catalog.section .item.discount .wrapper .discount-marker {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 1em 0.5em;
    width: 4em;
    color: white;
    text-align: right;
    font-size: 0.75rem;
}

.catalog.section .item.discount .wrapper .discount-marker:before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 0;
    height: 0;
    border-width: 0 6em 6em 0;
    border-style: solid;
    border-color: transparent #e74c3c transparent;
    content: '';
}

.catalog.section .item .wrapper .gift-marker {
    position: absolute;
    top: 1em;
    right: 0;
    z-index: 10;
    display: block;
    width: 4.5em;
    height: 3em;
    background-image: url(img/gift-marker.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.catalog.section .item.discount .name a {
    color: #e74c3c;
}

.catalog.section .item.discount .grid.buy .price {
    color: #e74c3c;
}

.catalog.section .item.discount .grid.buy .price.old {
    color: #707070;
}

/* additional blocks  */

.catalog.element #similar h2,
.catalog.element #related h2 {
    font-size: 1.2rem;
}

.catalog.section #show-next-items {
    font-size: 1.2rem;
}
.catalog.section #show-next-items.processing:before {
    display: inline;
    padding-right: 1.5em;
    width: 1.5em;
    background-image: none;
    background-image: url(ajax-loader-white-small.gif);
    background-position: left center;
    background-repeat: no-repeat;
    content: '';
}