.secondary-items .slider {
    margin: 0 -10px;
}

.secondary-items .slider article.item {
    padding: 0;
}

.secondary-items .slider article.item > .wrapper {
    margin: 0 10px;
    height: 15em;
    border: 1px solid #DFE2E3;
}

.secondary-items .slider article.item:hover > .wrapper {
    border: 1px solid black;
}

.secondary-items .slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -48px;
    width: 48px;
    height: 96px;
    background-image: url(slider-controls.png);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.secondary-items .slider:hover .slick-arrow {
    opacity: 1;
}

.secondary-items .slider .slick-arrow.slick-prev {
    left: -48px;
    background-position: left center;
}

.secondary-items .slider .slick-arrow.slick-next {
    right: -48px;
    background-position: right center;
}

#related .secondary-items .slider {

}

#similar .secondary-items .slider {

}