#customer-cart table {
    width: 100%;
}

#customer-cart table tr {
    border-bottom: 1px solid #DFE2E3;
}

#customer-cart table tr.item {

}

#customer-cart table tr.item.disabled {
    position: relative;
}

#customer-cart table tr.item.disabled td.image:before {
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 98%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.75);
    background-image: url(ajax-loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    opacity: 1;
}

#customer-cart table tr.item.disabled input,
#customer-cart table tr.item.disabled button {
    margin-bottom: -1px;
    border-top: 1px solid #DFE2E3;
    border-bottom: 1px solid #DFE2E3;
    cursor: default;
    pointer-events: none;
}

#customer-cart table tr:last-of-type,
#customer-cart table tr.last {
    border-bottom: 1px solid #DFE2E3;
}

#customer-cart table tr td {
    vertical-align: middle;
}

#customer-cart table tr.item td.name {
    vertical-align: middle;
}

#customer-cart table tr td {
    padding: 1em 0.5em;
}

#customer-cart table tr td.image {
    padding-left: 0;
}

#customer-cart table tr td.image .wrapper {
    padding: 0.5em 1em;
    border: 1px solid #DFE2E3;
    border-radius: 10px;
    text-align: center;
}

#customer-cart table tr td.image .wrapper img {
    display: inline;
}

#customer-cart table tr td.name .title {
    margin: 0;
    font-weight: normal;
    font-family: ProximaNova, Arial, Tahoma, Helvetica, sans-serif;
}

#customer-cart button.control {
    display: inline;
    width: 1em;
    height: 1.5em;
    border: none;
    background: none transparent;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease;
}

#customer-cart .quantity {
    vertical-align: middle;
    font-size: 1.2rem;
}

#customer-cart .quantity input {
    padding-bottom: 0.45em;
    width: 2em;
    border-radius: 15px;
    text-align: center;
    font-size: 1.1rem;
}

#customer-cart .quantity input[disabled] {
    border: none;
}

#customer-cart button.control.minus,
#customer-cart button.control.plus {
    padding: 1em;
}

#customer-cart button.control.plus {
    background-image: url(cart-plus.png);
}

#customer-cart button.control.minus {
    background-image: url(cart-minus.png);
}

#customer-cart button.control.remove {
    width: 2em;
    height: 2em;
    background-image: url(cart-delete.png);
}

#customer-cart table tr td.price {
    vertical-align: middle;
}

#customer-cart table tr td.price .value {
    margin-right: -1em;
    font-size: 1.4rem;
}

#customer-cart table tr td.price .old.value {
    font-size: 1.1rem;
}

#customer-cart table tr td.actions {
    padding-right: 0;
    vertical-align: middle;
}

#customer-cart .price.total {
    font-size: 18pt;
}

#customer-cart .price.total strong:after {
    content: 'a';
    font-family: 'Rouble';
}

#customer-cart .actions {
    margin-top: 1em;
}

#customer-cart .actions button,
#customer-cart .actions .button {
    font-weight: bold;
    font-size: 1.2rem;
}

#customer-cart .actions a.back.button {
    padding-left: 1em;
}

#customer-cart .actions a.back.button:before {
    display: inline-block;
    margin-right: 0.35em;
    width: 1em;
    height: 0.65em;
    background-image: url(cart-back.png);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

#customer-cart .actions a#cart-checkout {
    padding-right: 1em;
}

#customer-cart .actions button[type='submit']:after {
    display: inline-block;
    margin-left: 0.35em;
    width: 1em;
    height: 0.65em;
    background-image: url(cart-checkout.png);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

#customer-cart .button.hidden {
    display: none;
}