menu#order-checkout-menu {
    font: normal 20px ProximaNova;
    color: #bab9b9;
    border-bottom:1px solid #dfe2e3;
    margin-bottom:35px;
}

menu#order-checkout-menu a {
    display: inline-block;
    margin: 0 10px;
    width: auto;
    color: #bab9b9;
    text-decoration: none;
    cursor: pointer;
    float:none;
}

menu#order-checkout-menu a:hover {
    color: #454754;
}

menu#order-checkout-menu a.selected {
    color: #454754;
}

.bx-soa-section {
    display: none;
    border: none !important;
}

.bx-soa-section .bx-soa-section-title-container {
    display: none;
}

.bx-soa-section.bx-selected {
    display: block;
}

input,
textarea {
    border-color: #dfe2e3 !important;
    color: #555 !important;
    outline: 0 !important;
    box-shadow: none !important;
}
input[type="text"],
input[type="password"] {
    height: 40px;
    font: normal 18px/40px ProximaNova !important;
}
input[type="text"],
input[type="password"] {
    background:#fff !important;
}
textarea {
    font: normal 16px/35px ProximaNova !important;
    resize: none;
    padding: 6px 8px;
}

/* customer block */
.bx-soa-customer {
    display:table;
}
.form-group {
    width:60%;
    display:table;
}
.bx-soa-customer .form-group .bx-soa-custom-label,
.bx-soa-customer .form-group .soa-property-container,
.form-group .bx-soa-customer-label,
.form-group .bx-soa-customer-textarea {
    display:table-cell;
    padding:10px;
    min-height:1px;
    float:left;
}
.bx-soa-customer .form-group .bx-soa-custom-label,
.form-group .bx-soa-customer-label {
    font: normal 18px ProximaNova !important;
    width: 40%;
    vertical-align: top;
}
.bx-soa-customer .form-group .soa-property-container,
.form-group .bx-soa-customer-textarea {
    width: 60%;
}
.bx-soa-customer .form-group .bx-soa-custom-label .bx-authform-starrequired {
    display: none;
}
.bx-soa-customer .form-group.has-error input {
    border-color: red !important;
}
.bx-soa-tooltip {
    display:none !important;
}
.bx-authform-formgroup-container {
    margin-top:15px;
}
.bx-authform-formgroup-container input[type="submit"] {
    margin-right:25px;
}
.bx-authform-formgroup-container a {
    text-decoration : none !important;
}

/* delivery and payment blocks */
.bx-soa-pp-item-container {
    text-align:left;
    width:100%;
}
.bx-soa-pp-item-container .bx-soa-pp-company {
    width:100%;
    display:inline-block;
    margin-bottom:25px;
    cursor:pointer;
}
.bx-soa-pp-item-container .bx-soa-pp-company input[type="checkbox"] {
    display:none;
}
.bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-label {
    width:95%;
    float:right;
    position:relative;
}
.bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: -30px;
    top: 2px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: -27px;
    top: 5px;
    border-radius: 50%;
    background-color: #e00;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.bx-soa-pp-item-container .bx-soa-pp-company input[type="checkbox"]:checked + .bx-soa-pp-company-label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }

.bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-title {
    font: normal 18px ProximaNova-Bold;
    margin:0 0 5px 0;
}
.bx-soa-pp-item-container .bx-soa-pp-company .bx-soa-pp-company-description {
    font: normal 14px/20px Iskra, arial, serif;
    color: #454754;
}
.bx-soa-pp-desc-container {
    display:none;
}

/* coupon */
.bx-soa-coupon .bx-soa-coupon-label {
    display:none;
}
.bx-soa-coupon .bx-soa-coupon-block .bx-soa-coupon-input {
    width:50%;
    display:inline-block;
}
.bx-soa-coupon .bx-soa-coupon-block .bx-soa-coupon-input input {

}

/* buttons */
input[type="submit"] {
    text-transform: none;
}
.btn {
    box-shadow: 0 2px 0 #bc3325 !important;
    height: 40px;
    padding: 0 25px !important;
    position: relative !important;
    top: -5px !important;
    border-radius : 10px !important;
    font: normal 18px/40px ProximaNova-Bold;
    border:none !important;
    color:#fff !important;
    outline : none !important;
    background-image: linear-gradient(to bottom, #ff4c3c 0%, #e74c3c 100%);
}
.btn:hover {
    background-image: linear-gradient(to bottom, #ff1d09 0%, #d62c1a 100%);
}
.btn:active {
    background-image: linear-gradient(to bottom, #d51100 0%, #a82315 100%);
}
input[type="submit"].btn {
    font: normal 18px/40px ProximaNova-Bold !important;
}
input[type="submit"] {
    color: #fff !important;
}

.bx-soa-more-btn {
    padding: 0;
}
.pull-left:before {
    content: '\2190';
    position: absolute;
    left: 0;
    top: 10px;
    font-family: Arial;
}
.pull-left {
    color: #454754 !important;
    background : transparent !important;
    border : none !important;
    text-decoration: underline;
    border-bottom: 1px solid #d6d6d7;
    font: normal 14px ProximaNova;
    box-shadow : none !important;
    text-align : left;
}
.pull-left:hover {
    color:#f00 !important;
}

.pull-right {
    border : none;
}