#catalog-navigation-footer .title {
    margin-top: 0;
    font-size: 1.1rem;
}

#catalog-navigation-footer.wrapper {
    padding: 20px;
    padding-top: 16px;
    border: dotted 2px #D3D3D3;
    border-radius: 30px;
}

#catalog-navigation-footer ul.menu li {
}

#catalog-navigation-footer ul.menu li a {
    display: block;
    padding: 0.25em 0;
    color: #454754;
    text-decoration: underline;
}
