#small-cart > span {
    position: relative;
    top: -0.2em;
    padding-top: 0.2em;
    padding-left: 1.75em;
    background-image: url(cart-icon.png);
    background-position: left center;
    background-repeat: no-repeat;
    font-family: 'Iskra', Arial, Verdana, sans-serif;
}

#small-cart a {
    display: inline-block;
    padding-top: 0.65em;
    color: #454754;
    text-decoration: none;
}

#small-cart a:hover {
    color: #E74C3C;
}

#small-cart .floating {
    position: fixed;
    top: -4em;
    right: 2em;
    z-index: 100000;
    padding: 1em 1.5em;
    padding-left: 3em;
    border-radius: 14px;
    background-color: #F5F5F5;
    background-image: url(cart-icon.png);
    background-position: left 1em center;
    background-repeat: no-repeat;
}

#small-cart .floating a {
    padding-top: 0;
}

@media all and (min-width: 568px) and (max-width: 790px) {

    #small-cart .cart-title {
        display: none;
    }

}