a.search-page-params {
    border-bottom: 1px dashed blue;
    text-decoration: none;
}

div.search-page-params {
    margin-top: 6px;
}

.search-item-rate {
    font-size: 11px;
}

div#search-page input[type="text"] {
    width: 25.7em;
    line-height: 20px;
    font-size: 18px;
}

#search-result h2 {
    color: #51525a;
    font-size: 1.4em;
    font-family: ProximaNova, sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #dfe2e3;
}

#search-page input[type="submit"] {
    font-size: 18px;
    font-weight: bold;
    margin-left: 3px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    text-transform: none;
    padding: 0 10px
}

#search-page .search-element {
    border: 1px solid #dfe2e3;
    border-radius: 10px;
    margin-top: 20px;
    min-height: 150px;
    padding-top: 12px;
    padding-bottom: 11px;
}

#search-page .search-element .image {
    max-width: 111px;
    margin-left: 23px;
}

#search-page div.name h3 {
    margin: 0;
}

#search-page div.name {
    margin-bottom: 10px;
}

#search-page .description {
    margin-top: 10px;
}

#search-page .description .brand {
    font-size: 20px;
    line-height: 23px;
    color: #bfbfbf;
}

#search-page .search-element a.link {
    font-family: ProximaNova, sans-serif;
    font-size: 36px;
    line-height: 38px;
    color: #2b2d37;
    vertical-align: middle;
}

#search-page .search-element .price {
    font-size: 20px;
    line-height: 24px;
    color: #2b2d37;
}

#search-page .search-element .price ::after {
    content: ' a';
    font-family: Rouble;
    text-align: right;
}

#search-page .search-element a.button {
    padding: 0.4em 0.65em;
    font-size: 1rem;
    text-transform: none;
    margin-top: 20px;
}

#search-page div.more div {
    text-align: center;
}

#search-page .pager{
    margin-top: 2em;
}