#best-offers .items.grid {
    margin: 0 -10px;
}

#best-offers .items.grid .slick-track {
    margin: auto;
    padding-bottom: 1em;
    text-align: center;
}

#best-offers .items.grid .item.unit {
    display: inline-block;
    padding: 0 10px;
    text-align: left;
}

/* decorations */

#best-offers h2.title a {
    text-decoration: none;
}

#best-offers h2.title:before,
#best-offers h2.title:after {
    display: inline-block;
    margin: 0 0.5em;
    width: 5em;
    height: 0.65em;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

#best-offers h2.title:before {
    background-position: right center;
}

#best-offers h2.title:after {
    background-position: left center;
}

#best-offers .item .wrapper {
    position: relative;
    padding: 2em;
    padding-top: 6em;
    border: 2px solid #DFE2E3;
    border-radius: 10px;
    background-color: white;
    transition: border 0.5s ease;
}

#best-offers .item .wrapper:after {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid #DFE2E3;
    border-radius: 10px;
    background-color: #DFE2E3;
    content: '';
}

#best-offers .item:hover .wrapper {
    border: 2px solid #E74C3C;
}

#best-offers .item .header {
    position: absolute;
    top: 1.5em;
    z-index: 100;
    margin: 0;
    padding-right: 2em;
    font-family: "ProximaNova", sans-serif;
}

#best-offers .item .header .title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.6rem;
}

#best-offers .item .header .title a {
    color: inherit;
}

#best-offers .item .header .brand {
    margin-top: 0.5em;
    color: gray;
    color: #6c6c6c;
    font-weight: normal;
    font-size: 1.1rem;
    font-family: 'ProximaNova', Arial, Verdana, sans-serif;
}

#best-offers .item .header .brand a {
    color: #BFBFBF;
    text-decoration: none;
}

#best-offers .item .header .brand a:hover {
    text-decoration: underline;
}

#best-offers .item .image {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 12em;
    vertical-align: bottom;
    text-align: center;
}

#best-offers .item .image a {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
}

#best-offers .item .image a img {
    display: block;
    margin: auto;
}

#best-offers .item ul.properties {
    position: relative;
    z-index: 10;
    display: table;
    margin-bottom: 0.5em;
    width: 100%;
    border: 1px solid #DFE2E3;
    border-radius: 10px;
    background-color: white;
    font-size: 0.9rem;
}

#best-offers .item ul.properties li {
    display: table-cell;
    padding: 6px;
    border-right: 1px solid #DFE2E3;
    vertical-align: middle;
}

#best-offers .item ul.properties li.tier {
    border: none;
}

#best-offers .item ul.properties li .label,
#best-offers .item ul.properties li .value {
    display: block;
}

#best-offers .item ul.properties li.tier ul {
}

#best-offers .item ul.properties li.tier ul li.value {
    padding: 0;
    border: none;
    font-weight: bold;
}

/* item footer */

#best-offers .item .footer {

}

#best-offers .item .color .color {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 3px;
}

#best-offers .item a.add.button {
    display: block;
}

#best-offers .item .buy {
    display: table;
    margin-bottom: 0.5em;
    width: 100%;
    height: 1.5em;
}

#best-offers .item .buy:before,
#best-offers .item .buy:after {
    display: none;
    content: '';
}

#best-offers .item .buy .unit {
    display: table-cell;
    float: none;
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
    height: 1.5em;
    vertical-align: middle;
}

#best-offers .item .price {
    font-weight: bold;
    font-size: 2rem;
}

#best-offers .item .price .value {
    margin: 0;
    white-space: nowrap;
}

#best-offers .item .price .value:after {
    display: inline;
    content: 'a';
    font-family: Rouble;
}

#best-offers .item .one-click {
    position: relative;
}

#best-offers .item .one-click a {
    display: inline-block;
    margin-left: 1em;
    color: #454754;
    font-size: 1rem;
    text-decoration-color: inherit;
}

#best-offers .item a.one-click-buy.available {
    color: #e74c3c;
    text-decoration-color: #e74c3c;
}

#best-offers .item .add.button {
    padding: 0.65em 1em;
    padding-top: 0.7em;
    text-shadow: none;
    font-weight: bold;
    font-size: 1rem;
}

#best-offers .item .add.button:before {
    display: inline;
    padding-right: 1.5em;
    width: 1.5em;
    background-image: url(cart-icon-white.png);
    background-position: left center;
    background-repeat: no-repeat;
    content: '';
}

#best-offers .item .add.button.progress:before {
    background-image: url(ajax-loader-white-small.gif);
}

#best-offers .slider .slick-arrow {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -48px;
    width: 48px;
    height: 96px;
    background-image: url(slider-controls.png);
    background-repeat: no-repeat;
    opacity: 0.2;
    transition: opacity 0.5s ease;
}

#best-offers .slider:hover .slick-arrow {
    opacity: 1;
}

#best-offers .slider .slick-prev {
    left: -48px;
    background-position: left center;
}

#best-offers .slider .slick-next {
    right: -48px;
    background-position: right center;
}

#best-offers .slider ul.slick-dots {
    position: absolute;
    margin-top: 0.5em;
    width: 100%;
    text-align: center;
}

#best-offers .slider ul.slick-dots li {
    display: inline;
}

#best-offers .slider ul.slick-dots li button {
    display: inline-block;
    display: inline-block;
    overflow: hidden;
    margin: 0 0.5em;
    padding: 0;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 9px;
    background: linear-gradient(white, lightgray);
    background-color: white;
    text-indent: -99em;
    opacity: 0.5;
    transition: all 0.5s ease;
}

#best-offers .slider ul.slick-dots li button:focus {
    top: 0;
}

#best-offers .slider ul.slick-dots li.slick-active button {
    background: #E74C3C;
    background: linear-gradient(#FE4C3C, #E74C3C);
    opacity: 1;
}

@media all and (max-width: 568px) {

    #best-offers h2.title:before,
    #best-offers h2.title:after {
        display: none;
    }

    #best-offers .slider .slick-arrow {
        display: none;
    }

}