#catalog-navigation {
    padding: 0 20px;
}

#catalog-navigation form {
    padding: 0.5em;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(#FE4C3C, #E74C3C);
    background-color: #FE4C3C;
    vertical-align: middle;
    text-align: center;
    transition: background 0.5s ease;
}

#catalog-navigation .label {
    color: white;
}

#catalog-navigation ul {
    display: table;
    overflow: hidden;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

#catalog-navigation ul li {
    display: table-cell;
    padding: 0.5em;
    padding-bottom: 0.25em;
    width: 10%;
    border-right: 1px solid #C74134;
    border-bottom: 1px solid #C62E1E;
    border-left: 1px solid #DB7F75;
    background: linear-gradient(#FE4C3C, #E74C3C);
    background-color: #FE4C3C;
    vertical-align: middle;
    text-align: center;
    transition: background 0.5s ease;
}

#catalog-navigation ul li.selected,
#catalog-navigation ul li:hover {
    background: linear-gradient(#FF1D09, #D62C1A);
}

#catalog-navigation ul li a {
    display: block;
    color: white;
    text-decoration: none;
    /*font-size: 1.1rem;*/
    font: normal 16px ProximaNova;
}

#catalog-navigation ul li {
    font-size: 1rem;
}

#catalog-navigation ul li .subtitle {
    position: relative;
    left: 0.25em;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 0.85rem;
}

@media all and (max-width: 568px) {

    #catalog-navigation ul {
        display: block;
        border-radius: 20px 20px 0 0;
    }

    #catalog-navigation ul li {
        display: block;
        width: 100%;
    }

}

@media all and (max-width: 680px) {

    #catalog-navigation ul li {
        padding: 0.3em;
    }

}


