.page-warranty {
    background:url('warranty-bg.png') 100% 0 no-repeat;
}

.page-warranty p {
    max-width: 50%;
    font: normal 14px/20px ProximaNova;
}

.page-warranty table {
    width: 570px;
}

.page-warranty table > thead > tr > th,
.page-warranty table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

.page-warranty table th {
    text-align: left;
    font: bold 14px ProximaNova;
}
.page-warranty table > thead > tr > th {
    vertical-align: bottom;
}

.page-warranty table > tbody > tr:nth-child(odd)>td {
    background-color: #f9f9f9;
}

.page-warranty p {
    max-width: 50%;
    font: normal 14px/20px ProximaNova;
}
.rouble {
    font-family: Rouble;
}

.page-warranty ul {
    list-style-type: disc;
    -webkit-padding-start: 40px;
}
.page-warranty li {
    font: normal 14px ProximaNova;
}