html {
    font-size: 11pt;
    line-height: 1.25em;
}

body {
    color: #454754;
    hyphens: auto;
    font-weight: normal;
    font-size: 1rem;
    font-family: 'ProximaNova', Arial, Verdana, Helvetica, sans-serif;
    line-height: 1.25em;
    font-kerning: auto;
}

h1, h2, h3, h4, h5, h6, dt {
    margin: 0.65em 0;
    margin-top: 1em;
    color: #454754;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: 'Iskra', Arial, Verdana, Helvetica, sans-serif;
    line-height: 1.15em;
}

h5 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.8rem;
}

h2 {
    font-size: 2rem;
}

h1 {
    margin-top: 0;
    font-size: 2.4rem;
    font-family: 'ProximaNova', Arial, Verdana, Helvetica, sans-serif;
}

@media all and (max-width: 568px) {

    h1, h2, h3, h4, h5, h6, dt {
        text-align: center;
    }

}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

sup {
    vertical-align: super;
    font-size: 75%;
}

sub {
    vertical-align: sub;
    font-size: 75%;
}

a {
    outline: none !important;
    color: #E74C3C;
    text-decoration: none;
    transition: text-decoration 0.5s ease;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: none;
}

a[href*="#"] {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-line: underline;
    text-decoration-style: dotted;

}

a[href*="#"]:hover {
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

p {
    margin: 0.5em 0;
}

/* inputs and buttons */

select,
textarea,
input {
    padding: 0.5em 0.75em;
    padding-bottom: 0.55em;
    border: 1px solid #DFE2E3;
    border-radius: 4px;
    background: white;
    font-family: 'ProximaNova', Arial, Verdana, sans-serif;
    transition: all 0.5s ease;
}

select:focus,
textarea:focus,
input:focus {
    border: 1px solid #E74C3C;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[placeholder] {
    color: #8f9091;
}

a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    position: relative;
    display: inline-block;
    padding: 0.5em 2em;
    padding-bottom: 0.4em;
    border: none;
    border-bottom: 2px solid #BC3325;
    border-bottom-color: #BC3325;
    border-radius: 8px;
    background: #E74C3C;
    background: linear-gradient(#FD4C3C, #E74C3C);
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'ProximaNova', Arial, Verdana, sans-serif;
    cursor: pointer;
    transition: all 0.5s ease;
}

a.button {
    padding: 0.5em 2em;
}

a.button.disabled,
button.disabled,
input[type="button"].disabled,
input[type="reset"].disabled,
input[type="submit"].disabled,
a.button[disabled="disabled"],
button[disabled="disabled"],
input[type="button"][disabled="disabled"],
input[type="reset"][disabled="disabled"],
input[type="submit"][disabled="disabled"] {
    border-bottom: 2px solid #7b7b7b;
    border-bottom-color: #7b7b7b;
    border-radius: 8px;
    background: #bfbfbf;
    background: linear-gradient(#bfbfbf, #8f9091);
    opacity: 0.5;
    cursor: no-drop;
}

a.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: #FE1D09;
    background: linear-gradient(#FE1D09, #D62B19);
}

a.button {
    padding-top: 0.65em;
    padding-bottom: 0.5em;
    text-decoration: none;
}

a.button[href^="#"],
a.button[href^="#"]:hover {
    text-decoration: none;
}

a.button.white,
button.white,
input[type="button"].white,
input[type="reset"].white,
input[type="submit"].white {
    border: 2px solid #3f414c;
    background: white;
    color: #3f414c;
}

a.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    top: 2px;
    border-bottom: 2px solid #BC3325;
    background: #b61506;
    background: linear-gradient(#d91907, #b61506);
}

a.button.white:focus,
button.white:focus,
input[type="button"].white:focus,
input[type="reset"].white:focus,
input[type="submit"].white:focus {
    background: white;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

select:focus,
select::-moz-focus-inner {
    outline: none;
}

/* fonts  */

.iskra {
    font-family: 'Iskra', Arial, Verdana, sans-serif;
}

.proxima {
    font-family: 'ProximaNova', Arial, Verdana, sans-serif
}

/* common */

.title {
    margin-top: 0;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

/* utility */

.hidden,
#hidden {
    display: none;
}

.inline {
    display: inline;
}

.uppercase {
    text-transform: uppercase;
}

/* adaptive unit padding */

.unit {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* adaptive font size */

/*@media all and (max-width: 568px) {*/

    /*html {*/
        /*font-size: 12pt;*/
    /*}*/

/*}*/

/*@media all and (min-width: 568px) {*/

    /*html {*/
        /*font-size: 10pt;*/
    /*}*/

/*}*/

/*@media all and (min-width: 960px) {*/

    /*html {*/
        /*font-size: 11pt;*/
    /*}*/

/*}*/

/*@media all and (min-width: 1080px) {*/

    /*html {*/
        /*font-size: 12pt;*/
    /*}*/

/*}*/

/*@media all and (min-width: 1280px) {*/

    /*html {*/
        /*font-size: 13pt;*/
    /*}*/

/*}*/