#top-panel {
    background-color: #F5F5F5;
}

#top-panel > .grid {
    padding: 0.5em 20px;
}

#top-panel #city-select {
    display: inline-block;
}

#top-panel #top-panel-main-menu {
    display: inline;
}

/**/

#header #shops h2 {
    font-size: 1.1rem;
}

#header #shops #shops-message > p {
    margin: 0;
    font-size: 0.9rem;
}

#header #shops #shops-message #shops-message-time {
    display: inline-block;
    width: 5em;
    text-wrap: none;
    word-break: keep-all;
    font-size: 1.4rem;
    font-family: "ProximaNova", sans-serif;
}

#header #shops #shops-message #shops-message-time sup {
    font-size: 65%;
}

#header #contact {
    position: relative;
}

#header #shops h2,
#header #contact h2 {
    margin-bottom: 0.25em;
    font-size: 1.1rem;
}

#header #contact a#contact-phone {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0;
    color: #3f3f3f;
    font-weight: lighter;
    font-size: 1.8rem;
    font-family: "ProximaNova", sans-serif;
}

#header #contact a[href*="#"] {
    color: #3f3f3f;
}

#header #contact p {
    margin: 0;
}

#header #logo,
#header #shops,
#header #contact {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media all and (max-width: 780px) {

    #header > .grid > #logo {
        margin-bottom: 0;
        padding-right: 0;
        width: 100%;
        text-align: center;
    }

    #header > .grid > .three-quarters.unit {
        padding: 0 20px;
        width: 100%;
    }

}

/* features */

#features {
    padding: 2em 0;
    padding-top: 3em;
}

#features .unit {
    margin-bottom: 1.5em;
}

#features h2 {
    margin-top: 0.5em;
    font-size: 1.6rem;
}

#features .unit p {
    font-family: "Iskra",Arial,Verdana,sans-serif;
    font-size: 1.2rem;
}

#footer {
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: #F5F5F5;
}

#footer #copyright {
    margin-top: 1em;
    font-size: 0.75rem;
}

#above > .grid {
    position: relative;
}

#front-filter {
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 1000;
}

#front-filter .wrapper {
    width: 18em;
    height: 18em;
    border-radius: 16px;
    background-color: white;
}

#front-sales h2.title:before,
#best-offers h2.title:before,
#front-articles h2.title:before {
    background-image: url(../img/header-left.png);
}

#front-sales h2.title:after,
#best-offers h2.title:after,
#front-articles h2.title:after {
    background-image: url(../img/header-right.png);
}

@media all and (max-width: 568px) {

    h2.title:before,
    h2.title:after {
        display: none;
        content: '';
    }

    #top-panel-city-select,
    #top-panel-main-menu,
    #top-panel-small-cart {
        margin: 0;
    }

}