/* one click buy */

#one-click-buy .wrapper {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    min-width: 36em;
    background-color: white;
}

#one-click-buy .wrapper .loader.hidden {
    display: none;
    opacity: 0;
}

#one-click-buy .wrapper .loader {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url('../img/ajax-loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.75;
}

#one-click-buy .wrapper h2 {
    font-size: 1.4rem;
    font-family: 'ProximaNova';
}

#one-click-buy .product .name {
    font-size: 1.4rem;
}

#one-click-buy .product .brand {
    font-weight: normal;
    font-size: 1.1rem;
}

#one-click-buy .product .name,
#one-click-buy .product .brand {
    font-family: 'ProximaNova';
}

#one-click-buy .product .colorname .value {
    font-weight: bold;
}

#one-click-buy .product .price {
    font-weight: bold;
    font-size: 2.2rem;
}

#one-click-buy .product .price:after {
    content: 'a';
    font-family: Rouble;
}

#one-click-buy form .field {
    display: inline-block;
}

#one-click-buy form .field input {
    width: 10em;
}

#one-click-buy form .field button[type="submit"] {
    padding: 0.5em 1em;
    min-width: 16em;
}

/*
#one-click-buy button[type="submit"]:before {
    display: inline;
    padding-right: 1.5em;
    width: 2em;
    background-image: url('../img/cart-icon-white.png');
    background-position: left center;
    background-repeat: no-repeat;
    content: '';
}
*/

#one-click-buy .field.required .label:after {
    color: #E74C3C;
    content: '*';
}

#one-click-buy .result .title {
    text-align: center;
}

#one-click-buy .result .body {
    margin-top: 2em;
    text-align: center;
}

#one-click-buy-form .field {
    margin-bottom: 0.5em;
}

#one-click-buy .grid {
    display: table;
    width: 100%;
}

#one-click-buy .grid .unit {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

#one-click-buy .grid .unit input {
    width: 12.5em;
}

#one-click-buy .unit .product.image {
    width: auto;
    height: 8em;
}

#one-click-buy .grid button[type="submit"] {
    display: block;
    padding: 0.5em 0.5em;
    width: 100%;
    text-align: center;
}

#one-click-buy .grid button:before {
    display: inline;
    padding-right: 1.5em;
    width: 2em;
    background-image: url(../img/cart-icon-white.png);
    background-position: left center;
    background-repeat: no-repeat;
    content: '';
}