a#region-select-trigger {
    position: relative;
    display: inline-block;
    /*padding: 0.5em;*/
    color: #e74c3c;
    font-weight: bold;
    /*text-decoration-color: #ff4c3c;*/
    text-decoration:none;
    padding: 0;
    border-bottom:1px dotted #e74c3c;
}
a#region-select-trigger:after {
    content: '';
    width: 7px;
    height: 6px;
    position: absolute;
    display: block;
    top: 7px;
    right: -12px;
    background: url(/icons.png) 0 0 no-repeat;
}
a#region-select-trigger:hover {
    color: #a82315;
    border-bottom: 1px dotted #a82315;
}

#region-select {
    position: relative;
    padding: 5px;
}

#region-select .wrapper {
    position: absolute;
    z-index: 1000;
    width: 100%;
}

#region-select ul#regions-list {
    top: 2.2em;
    overflow: hidden;
    margin: auto;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 5px gray;
    background: #f5f5f5;
    margin-top: 15px;
}

#region-select ul.dropdown li a {
    display: block;
    padding: 0.3em 0.6em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: #454754;
}

#region-select ul.dropdown li a:hover {
    background-color: #ff4c3c;
    color: white;
}