#brands-list-bottom {
    padding: 1em 0;
}

#brands-list-bottom ul.menu li {
    display: inline-block;
    padding: 0.25em;
}

#brands-list-bottom ul.menu li a {
    color: #454754;
    text-decoration: underline;
    font-weight: normal;
}

@media all and (max-width: 568px) {

    #brands-list-bottom ul.menu li {
        display: inline-block;
        padding: 0.5em;
    }

}

