#callback-form {
    position: absolute;
    top: 4em;
    right: 0;
    z-index: 1000;
    padding: 20px;
    padding-top: 10px;
    border: 1px solid #DFE2E3;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 5px #888888;
    text-align: left;
}

#callback-form input {
    padding: 0.25em;
    border-radius: 5px;
}

#callback-form input,
#callback-form select {
    width: 14em;
}

#callback-form input[type="submit"] {
    display: block;
    padding: 0.25em 0.5em;
    width: 100%;
    border: none;
    border-bottom: 2px solid #BC3325;
    border-radius: 5px;
}

#callback-form a.close {
    position: absolute;
    top: 10px;
    right: 16px;
    z-index: 10;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

#callback-form a.close:before {
    content: '×';
}

#callback-form a.close:hover:before {
    color: #E74C3C;
}

#callback-form .form-item {
    margin: 0.5em 0;
}

#callback-form .form-item input,
#callback-form .form-item select,
#callback-form .form-actions input,
#callback-form .form-actions button {
    font-size: 0.9rem;
}

#callback-form .form-actions input {
    display: block;
}
