.form-anstext {
    color: #166122;
}

.form-ansvalue {
    color: #FF0000;
}

table.form-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    font-weight: normal;
    font-size: 100%;
    line-height: 160%;
}

table.form-table th, table.form-table td {
    padding: 5px 5px;
    border: 1px solid #ADC3D5;
    vertical-align: top;
}

table.form-table th {
    background-image: url(images/table_head.gif);
    background-repeat: repeat-x;
    color: #25639A;
    text-align: left;
}

table.form-table td {
    padding: 15px 5px;
    width: 50%;
}

table.form-info-table {
    border-collapse: collapse;
    background-color: white;
    font-size: 100%;
}

table.form-info-table th {
    background-image: url(images/table_head.gif);
    background-repeat: repeat-x;
    color: #25639A;
    text-align: center;
    font-size: 100%;
}

table.form-info-table td, table.form-info-table th {
    padding: 3px;
    border: 1px solid #ADC3D5;
}

table.form-info-table td {
    vertical-align: top;
}