/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// © guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 55px;
}

.irs-with-grid {
    height: 75px;
}

.irs-line {
    top: 10px;
    height: 4px;
    border: 1px solid #CCC;
    border-radius: 16px; /* W3C */
    background: #EEE;
    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%);
}

.irs-line-left {
    height: 8px;
}

.irs-line-mid {
    height: 8px;
}

.irs-line-right {
    height: 8px;
}

.irs-bar {
    top: 11px;
    height: 4px;
    background: linear-gradient(#FE1D09, #D62B19);
}

.irs-bar-edge {
    top: 33px;
    width: 14px;
    height: 10px;
    border: 1px solid #428bca;
    border-right: 0;
    background: linear-gradient(#FE1D09, #D62B19);
}

.irs-shadow {
    top: 38px;
    height: 2px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #000;
    opacity: 0.3;
}

.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #D62B19;
    border-radius: 27px;
    background: #DDD; /* W3C */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 220, 1) 20%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.irs-slider.state_hover, .irs-slider:hover {
    background: #FFF;
}

.irs-min, .irs-max {
    top: 37px;
    padding: 1px 5px;
    font-size: 0.9rem;
    opacity: 0.25;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    top: 34px;
    padding: 1px 5px;
    text-shadow: none;
    font-size: 1.1rem;
    line-height: 1.333;
}

/*
.irs-min:after, .irs-max:after,
.irs-from:after, .irs-to:after, .irs-single:after {
    content: ' руб.'
}
*/

.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 27px;
}

.irs-grid-pol {
    background: #FE1D09;
    opacity: 0.5;
}

.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}

.irs-disabled {
}
