/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// © guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 55px;
}

.irs-with-grid {
    height: 75px;
}

.irs-line {
    top: 33px;
    height: 10px;
    border: 1px solid #CCC;
    -moz-border-radius: 16px; /* W3C */
    border-radius: 16px;
    background: #EEE;
    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%);
}

.irs-line-left {
    height: 8px;
}

.irs-line-mid {
    height: 8px;
}

.irs-line-right {
    height: 8px;
}

.irs-bar {
    top: 33px;
    height: 10px;
    border-top: 1px solid #428bca;
    border-bottom: 1px solid #428bca;
    background: #428bca;
    background: linear-gradient(to top, rgba(66, 139, 202, 1) 0%, rgba(127, 195, 232, 1) 100%); /* W3C */
}

.irs-bar-edge {
    top: 33px;
    width: 14px;
    height: 10px;
    border: 1px solid #428bca;
    border-right: 0;
    -moz-border-radius: 16px 0 0 16px;
    border-radius: 16px 0 0 16px; /* W3C */
    background: #428bca;
    background: linear-gradient(to top, rgba(66, 139, 202, 1) 0%, rgba(127, 195, 232, 1) 100%);
}

.irs-shadow {
    top: 38px;
    height: 2px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #000;
    opacity: 0.3;
}

.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: 25px;
    width: 27px;
    height: 27px;
    border: 1px solid #AAA;
    -moz-border-radius: 27px;
    border-radius: 27px; /* W3C */
    background: #DDD;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 220, 1) 20%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.irs-slider.state_hover, .irs-slider:hover {
    background: #FFF;
}

.irs-min, .irs-max {
    top: 0;
    padding: 1px 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
    color: #333;
    text-shadow: none;
    font-size: 12px;
    line-height: 1.333;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    padding: 1px 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #428bca;
    color: #fff;
    text-shadow: none;
    font-size: 14px;
    line-height: 1.333;
}

.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 27px;
}

.irs-grid-pol {
    background: #428bca;
    opacity: 0.5;
}

.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}

.irs-disabled {
}
