#sales {
    padding: 1em 0;
}

#sales h2.title:before,
#sales h2.title:after {
    display: inline-block;
    margin: 0 0.3em;
    width: 3em;
    height: 0.5em;
    content: '';
}

#sales .item .title {
    margin-top: 0;
    color: #E74C3C;
    font-size: 1.6rem;
}

#sales .item .wrapper {
    position: relative;
    padding: 2em;
    padding-top: 1.5em;
    height: 14em;
    border: 1px solid #DFE2E3;
    border-right: 3px solid #DFE2E3;
    border-bottom: 3px solid #DFE2E3;
    border-radius: 50px;

}

#sales .item .wrapper a.details {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    text-decoration: none;
}