#front-sales {
    padding: 2em 0;
}

#front-sales .title {
    color: #454754;
    font-family: 'Iskra', Arial, Verdana, sans-serif;
}

#front-sales .title a {
    color: inherit;
    text-decoration: none;
}

#front-sales h2.title:before,
#front-sales h2.title:after {
    display: inline-block;
    margin: 0 0.3em;
    width: 6em;
    height: 0.6em;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

#front-sales h2.title:before {
    background-position: right center;
}

#front-sales h2.title:after {
    background-position: left center;
}

#front-sales .item .title {
    margin-top: 0;
    color: #E74C3C;
    font-size: 1.4rem;
}

#front-sales .item .wrapper {
    position: relative;
    padding: 2em;
    padding-top: 1.75em;
    height: 14em;
    border: 1px solid #DFE2E3;
    border-right: 3px solid #DFE2E3;
    border-bottom: 3px solid #DFE2E3;
    border-radius: 45px;
}

#front-sales .item .wrapper a.details {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#front-sales .item .wrapper p {
    font-family: "Iskra", Arial, Verdana, sans-serif;
}

@media all and (max-width: 568px) {

    #front-sales h2.title:before,
    #front-sales h2.title:after {
        display: none;
    }

}
