#front-articles .title {
    color: #454754;
    font-family: 'Iskra', Arial, Verdana, sans-serif;
}

#front-articles .title a {
    color: inherit;
    text-decoration: none;
}

#front-articles h2.title:before,
#front-articles h2.title:after {
    display: inline-block;
    margin: 0 0.3em;
    width: 6em;
    height: 0.5em;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

#front-articles .item {
    position: relative;
}

#front-articles .item .title {
    margin-top: 0;
    color: #454754;
    font-weight: normal;
    font-size: 1.4rem;
}

#front-articles .item .wrapper {
    position: relative;
    padding: 1.5em;
    padding-top: 1.25em;
    padding-bottom: 3em;
    min-height: 14em;
    border: 2px solid #DFE2E3;
    border-radius: 30px;
    background-color: white;
}

#front-articles .item .wrapper p {
    font-family: "Iskra",Arial,Verdana,sans-serif;
}

#front-articles .item .wrapper p.details {
    position: absolute;
    right: 1.5em;
    bottom: 1em;
}

#front-articles .item .wrapper .details {
    margin-top: 1em;
    text-align: right;
    font-weight: normal;
    font-family: 'Iskra', Arial, Verdana, sans-serif;
}

#front-articles .item .wrapper .back {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -10;
    width: 100%;
    height: 100%;
    border: 1px solid #DFE2E3;
    border-radius: 30px;
}

#front-articles .item .back.two {
    top: 4px;
    left: 4px;
    z-index: -20;
}

#front-articles .item .back.three {
    top: 6px;
    left: 6px;
    z-index: -30;
}

@media all and (max-width: 568px) {

    #front-articles h2.title:before,
    #front-articles h2.title:after {
        display: none;
    }

    #front-articles .item .wrapper {
        min-height: 0;
    }

}