nav#bottom-menu a {
    display: block;
    padding: 0.25em;
    color: #454754;
    text-decoration: underline;
    font-weight: bold;
}

@media all and (max-width: 568px) {

    nav#bottom-menu a {
        padding: 0.5em;
    }

}