
.bx_item_detail_rating {
    margin-bottom: 10px;
}

.bx_item_detail_rating td {
    vertical-align: middle;
    text-align: right;
}

.bx_item_detail_rating .bx_item_rating {
    text-align: right;
}

.bx_item_detail_rating .bx_stars_container {
    position: relative;
    width: 68px;
    height: 30px;
    background: #dadada;
    background-size: 100% 100%;
}

.bx_item_detail_rating .bx_stars_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: url(images/stars.png) no-repeat center;
}

.bx_item_detail_rating .bx_stars_progres {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #e76110;
}

.bx_item_detail_rating .bx_stars_rating_votes {
    color: #8d8d8d;
    vertical-align: middle;
    font-size: 11px;
    line-height: 11px;
}

/*.bx_item_detail_rating .bx_vam{vertical-align: middle;}*/

@media (max-width: 530px) {
    .bx-touch .bx_item_detail_rating .bx_stars_container {
        margin: 4px 0;
        width: 34px;
        height: 15px;
    }

    .bx_item_detail_rating .bx_stars_rating_votes {
        font-size: 7px;
        line-height: 7px;
    }
}