div.fancy-select {
    position: relative;
    color: #46565D;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

div.fancy-select.disabled {
    opacity: 0.5;
}

div.fancy-select select:focus + div.trigger {
    box-shadow: 0 0 0 2px #4B5468;
}

div.fancy-select select:focus + div.trigger.open {
    box-shadow: none;
}

div.fancy-select div.trigger {
    position: relative;
    overflow: hidden;
    padding: 10px 24px 9px 9px;
    width: 200px;
    border: 1px solid #99A5BE;
    border-top-color: #A5B2CB;
    border-radius: 4px;
    background: #99A5BE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #4B5468;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    -webkit-transition: all 240ms ease-out;
    -moz-transition: all 240ms ease-out;
    -ms-transition: all 240ms ease-out;
    -o-transition: all 240ms ease-out;
    transition: all 240ms ease-out;
}

div.fancy-select div.trigger:after {
    position: absolute;
    top: 20px;
    right: 9px;
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #4B5468;
    content: "";
}

div.fancy-select div.trigger.open {
    border: 1px solid #475062;
    background: #4A5368;
    box-shadow: none;
    color: #7A8498;
}

div.fancy-select div.trigger.open:after {
    border-top-color: #7A8498;
}

div.fancy-select ul.options {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 50;
    visibility: hidden;
    overflow: auto;
    margin: 0;
    min-width: 200px;
    max-height: 200px;
    border-top: 1px solid #7DD8D2;
    border-radius: 4px;
    background: #62C8BF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    list-style: none;
    opacity: 0;

    -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
    top: 50px;
    visibility: visible;
    opacity: 1;

    /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
    /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
    -webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, top 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, top 300ms ease-out;
    -o-transition: opacity 300ms ease-out, top 300ms ease-out;
    transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
    top: auto;
    bottom: 40px;

    -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
    top: auto;
    bottom: 50px;

    -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
    -o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
    transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
    padding: 8px 12px;
    color: #2B8686;
    white-space: nowrap;
    cursor: pointer;

    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
    background: rgba(43, 134, 134, 0.3);
    color: rgba(255, 255, 255, 0.75);
}

div.fancy-select ul.options li.hover {
    color: #fff;
}