#breadcrumb .wrapper {
    float: left;
    overflow: hidden;
    padding-right: 2em;
    border-left: 1px solid #DFE2E3;
    border-radius: 4px;
}

#breadcrumb .item {
    position: relative;
    display: inline-block;
    margin-right: -1em;
    padding: 0.5em 1.5em;
    padding-left: 2em;
    border: 1px solid #DFE2E3;
    border-radius: 4px;
    background-color: white;
    font-size: 0.85rem;
    transform: skew(-30deg);
}

#breadcrumb .item.first {
    margin-left: -1em;
    padding-left: 2em;
}

#breadcrumb .item.last {
    background-color: #f5f5f5;
}

#breadcrumb .item.last span {
    display: block;
    transform: skew(30deg);
}

#breadcrumb .item a {
    display: block;
    color: #454754;
    text-decoration: none;
    transform: skew(30deg)
}

#breadcrumb #breadcrumb-item-0 {
    z-index: 200;
}

#breadcrumb #breadcrumb-item-1 {
    z-index: 190;
}

#breadcrumb #breadcrumb-item-2 {
    z-index: 180;
}

#breadcrumb #breadcrumb-item-3 {
    z-index: 170;
}

#breadcrumb #breadcrumb-item-4 {
    z-index: 160;
}

#breadcrumb #breadcrumb-item-5 {
    z-index: 160;
}

#breadcrumb #breadcrumb-item-6 {
    z-index: 150;
}

#breadcrumb #breadcrumb-item-7 {
    z-index: 140;
}

#breadcrumb #breadcrumb-item-8 {
    z-index: 130;
}

#breadcrumb #breadcrumb-item-9 {
    z-index: 120;
}