.page-delivery {
    background:url('delivery-bg.png') 100% 0 no-repeat;
}
.page-delivery h2 {
    font: normal 30px/20px Iskra, arial, serif;
}

.page-delivery table {
    width: 600px;
}

.page-delivery table > thead > tr > th,
.page-delivery table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.page-delivery table th {
    text-align:left;
}
.page-delivery table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table > thead:first-child > tr:first-child > th {
    border-top: 0;
}

.page-delivery table > tbody > tr:nth-child(odd)>td {
    background-color: #f9f9f9;
}

.page-delivery p {
    max-width: 50%;
    font: normal 14px/20px ProximaNova;
}
.rouble {
    font-family: Rouble;
}

.page-delivery ul {
    list-style-type: disc;
    -webkit-padding-start: 40px;
}
.page-delivery li {
    font: normal 14px/24px ProximaNova;
}