div.star-active {
    cursor: pointer;
}

div.star-empty {
    overflow: hidden;
    width: 15px;
    height: 15px;
    background-image: url(images/empty.gif);
}

div.star-voted {
    overflow: hidden;
    width: 15px;
    height: 15px;
    background-image: url(images/voted.gif);
}

div.star-over {
    overflow: hidden;
    width: 15px;
    height: 15px;
    background-image: url(images/over.gif);
}
