#main > .grid > .whole.unit {
    padding-top: 0;
}

#front-slider {
    position: relative;
    overflow: hidden;
    height: 26em;
    border-radius: 0 0 20px 20px;
}

#front-slider > .slider.unit {
    padding: 0;
}

#front-slider .slide img {
    float: right;
    width: 100%;
    height: auto;
}

#front-slider ul.slick-dots {
    position: absolute;
    bottom: 1.5em;
    display: block;
    width: 100%;
    text-align: center;
}

#front-slider ul.slick-dots li {
    display: inline-block;
    margin: 0 0.3em;
}

#front-slider ul.slick-dots li button {
    overflow: hidden;
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background: #dee2e3;
    text-indent: -99em;
    transition: background 0.5s ease;
}

#front-slider ul.slick-dots li.slick-active button {
    background: #E74C3C;
}

@media all and (max-width: 568px) {

    #front-slider .slide {
        overflow: hidden;
    }

    #front-slider .slide .slide-image {
        width: 150%;
        height: auto;
    }

}
